#login {
    display: none;
}

form {
    width: 100%;
}
#connectionBtn {
    font-weight: bold;
}
#connection {
    width: 100%;
    margin: 8px;
}
.sceneButton {
    font-size: 12px;
    width: 45%;
    height: 64px;
    text-align: center;
    background-color: rgb(66, 184, 221);
    color:white;
    margin: 8px;
}

.active {
    background-color: rgb(28, 184, 65);
    color: white;
    border-radius: 4px;
}

#scenesList {
    margin: 0px;
}

body {
    background-color: #fefefe;
}